
[Desktop Entry]
Type=Application
Exec=sudo /home/wayne/HomeAVControl/bin/startevrtlogin.sh 		
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=evrouter
Name=evrouter
Comment[en_US]=
Comment=
